#cart-icon-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
body{
    background-color: #000000c7;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #218838;
}


.cart-icon-container{
    display: none !important;
}